---
import { getTours } from "@/utils/sanity";
import ProductCard from "./ProductCard.astro";
import ButtonLink from "../shared/ButtonLink.astro";

const tours = await getTours();
---

{
  tours && tours.length > 0 && (
    <section id="tours" class="w-full py-10 md:py-16 text-black">
      <div class="container flex flex-col items-center justify-center">
        <p class="mb-2 p">No sabes donde ir?</p>
        <h2 class="mb-10 h2">Tours</h2>
        <div class="grid w-full grid-cols-1 gap-12 md:grid-cols-2 xl:grid-cols-3 justify-items-center">
          {tours.map((d) => (
            <ProductCard {...d} />
          ))}
        </div>
        <ButtonLink
          href="/tours"
          text="Ver todos los tours"
          class="mt-10 bg-orange-500 hover:bg-orange-800"
        />
      </div>
    </section>
  )
}
