---
import { getCruises } from "@/utils/sanity";
import ProductCard from "./ProductCard.astro";
import ButtonLink from "../shared/ButtonLink.astro";

const cruises = await getCruises();
---

{
  cruises && cruises.length > 0 && (
    <section id="ofertas" class="w-full py-16 text-black">
      <div class="container flex flex-col items-center justify-center">
        <p class="mb-2 p">Te gusta el mar?</p>
        <h2 class="mb-10  h2">Cruceros</h2>
        <div class="grid w-full grid-cols-1 gap-12 md:grid-cols-2 xl:grid-cols-3 justify-items-center">
          {cruises.map((d) => (
            <ProductCard {...d} />
          ))}
        </div>
        <ButtonLink
          href="/cruceros"
          text="Ver todos los cruceros"
          class="mt-10 bg-orange-500 hover:bg-orange-800"
        />
      </div>
    </section>
  )
}
