---
import { getResorts } from "@/utils/sanity";
import ProductCard from "./ProductCard.astro";

const resorts = await getResorts();
---

<section id="content" class="w-full py-16 text-black">
  <div class="container flex flex-col items-center justify-center">
    <p class="mb-2 p">Fin de semana</p>
    <h2 class="mb-10 h2">Resorts</h2>
    <div class="grid w-full grid-cols-1 gap-12 md:grid-cols-2 xl:grid-cols-3">
      {resorts.map((d) => <ProductCard {...d} />)}
    </div>
  </div>
</section>
