---
interface Props {
  href: string;
  class?: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class:list={[
    "min-w-[150px] px-5 py-2 text-center  font-medium transition-all duration-300 ease-in-out  cursor-pointer p hover:scale-95 rounded-3xl ",
    Astro.props.class,
  ]}
>
  <slot />
</a>
