---
interface Props {
  href: string;
  text: string;
  class: string;
}

const { href, text } = Astro.props;
---

<a
  href={href}
  aria-label={text}
  class:list={[
    "px-5 py-2 font-medium min-w-[150px] text-center rounded-xl",
    Astro.props.class,
  ]}
>
  {text}
</a>
