---
interface Props {
  href: string;
  text: string;
  class: string;
}

const { href, text } = Astro.props;
---

<a
  href={href}
  aria-label={text}
  class:list={[
    "min-w-[150px] rounded-xl px-5 py-2 text-center font-medium",
    Astro.props.class,
  ]}
>
  {text}
</a>
