---
// export const prerender = true;
---

<form class="">
  <div>
    <label for="checkIn">Check In</label>
    <input
      type="date"
      name="checkIn"
      id="checkIn"
      class="flatpickrCheckIn flatpickr"
      required
    />
  </div>
  <div>
    <label for="checkOut">Check Out</label>
    <input
      type="date"
      name="checkOut"
      id="checkOut"
      class="flatpickrCheckOut flatpickr"
      required
    />
  </div>
  <div>
    <label for="adults">Adultos</label>
    <select name="adults" id="adults" required>
      <option value="1">1</option>
      <option value="2" selected>2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
    </select>
  </div>
  <div>
    <label for="kids">Ninos</label>
    <select name="kids" id="kids">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
    </select>
  </div>

  <button type="submit">Reservar</button>
</form>

<style>
  form {
    @apply grid grid-cols-1 place-content-stretch place-items-center gap-4 py-10 md:grid-cols-2	 lg:grid-cols-5;

    & div {
      @apply flex w-full flex-col items-start justify-between rounded-sm;

      & label {
        @apply py-2 rounded-sm font-medium;
      }

      & input[type="date"] {
        @apply min-w-full cursor-pointer rounded-sm px-5 py-2  lg:min-w-[300px];
      }

      & .flatpickr {
        @apply w-full px-5 py-3;
      }

      & select {
        @apply cursor-pointer rounded-sm px-5 py-3;
      }
    }

    & button[type="submit"] {
      @apply mx-auto mt-5 w-[200px] rounded-sm bg-blue-500 px-5 py-3
      font-bold text-white hover:bg-blue-700;
    }
  }
</style>

<script>
  import { actions } from "astro:actions";
  import flatpickr from "flatpickr";

  //  CALENDARIO
  const today = new Date();
  const twoDaysLater = new Date();
  twoDaysLater.setDate(today.getDate() + 2);

  flatpickr(".flatpickrCheckIn", {
    dateFormat: "d-m-Y", // Formato de fecha
    //locale: "es", // Cambia a español
    defaultDate: today,
    minDate: today,
  });

  flatpickr(".flatpickrCheckOut", {
    dateFormat: "d-m-Y", // Formato de fecha
    //locale: "es", // Cambia a español
    defaultDate: twoDaysLater,
    minDate: twoDaysLater,
  });

  // const today = new Date().toISOString().split("T")[0];
  // document.getElementById("checkIn").value = today;

  // function validateDates() {
  //   const checkIn = document.getElementById("checkIn");
  //   const checkOut = document.getElementById("checkOut");

  //   if (checkIn && checkOut && checkIn > checkOut) {
  //     alert("La fecha de Check Out debe ser posterior a la fecha de Check In.");
  //     return false; // Evitar el envío del formulario
  //   }
  //   return true; // Permitir el envío del formulario
  // }

  //  FORMULARIO
  const form = document.querySelector("form") as HTMLFormElement;

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const checkIn = (document.getElementById("checkIn") as HTMLInputElement)
      .value;
    const checkOut = (document.getElementById("checkOut") as HTMLInputElement)
      .value;
    const adults = (document.getElementById("adults") as HTMLInputElement)
      .value;
    const kids = (document.getElementById("kids") as HTMLInputElement).value;

    if (!checkIn || !checkOut) {
      alert("Debe seleccionar la fecha correctamente");
      return;
    }
    // Validar que checkOut es posterior a checkIn
    if (checkIn >= checkOut) {
      alert("La fecha de CheckOut no puede ser anterior a la de CheckIn");
      return;
    }

    // TODO MOSTRAR ERRORES
    try {
      const formData = new FormData(form);
      const { data, error } = await actions.getReservationDetails(formData);
      console.log("🚀 ~ form.addEventListener ~ data:", data);
    } catch (data) {
      alert(data);
    }
  });
</script>
