---
// import type { ImageMetadata } from "astro";
// import { Image } from "astro:assets";

// import { heroImages } from "@/data";
---

<!-- <div class="swiper w-full mx-auto border">
  <div class="swiper-wrapper">
    {
      heroImages.map(({ image, title }) => (
        <div class="swiper-slide w-full h-full relative">
          <a href="#">
            <div class="absolute h-full flex items-center justify-center w-full font-medium tracking-wide text-myBlack inset-0 text-4xl px-5 py-2 ">
              <h3>{title}</h3>
            </div>
            <Image
              src={image}
              alt={title}
              width={600}
              quality={"max"}
              class="w-full h-full object-cover"
            />
          </a>
        </div>
      ))
    }
  </div>
  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <div class="swiper-scrollbar"></div>
</div> -->
<script>
  // import { Swiper } from "swiper";
  // import { Pagination } from "swiper/modules";

  // const swiper = new Swiper(" .swiper", {
  //   // Optional parameters
  //   direction: "horizontal",
  //   loop: true,

  //   // If we need pagination
  //   pagination: {
  //     el: ".swiper-pagination",
  //   },

  // Navigation arrows
  // navigation: {
  //   nextEl: ".swiper-button-next",
  //   prevEl: ".swiper-button-prev",
  // },

  // And if we need scrollbar
  // scrollbar: {
  //   el: ".swiper-scrollbar",
  // },
  //   modules: [Pagination],
  // });
</script>
<!-- 
<style>
  .swiper {
    border-radius: 12px;
    width: 800px;
    height: 400px;
    opacity: 0;
    animation: fadeIn 1s forwards 0.5s ease-in-out;
    animation: name duration timing-function delay iteration-count direction
      fill-mode;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
</style> -->
