---
import ProductCard from "@/components/products/ProductCard.astro";
import Layout from "@/layouts/Layout.astro";
import { getAllCruises } from "@/utils/sanity";
const allCruises = await getAllCruises();
---

<Layout
  title="Paquete de Crucero"
  description="Haz que cada amanecer y atardecer en el mar sea un recuerdo inolvidable. ¡Reserva tu aventura marítima hoy y experimenta un crucero como nunca antes, con Better Travel!"
  keywords={["cruceros"]}
>
  <section id="ofertas" class="w-full pt-[150px] pb-10 text-black">
    <div class="container flex flex-col items-center justify-center">
      <p class="mb-2 p">Todos los</p>
      <h1 class="mb-10 h1">Cruceros</h1>
      <div
        class="grid w-full grid-cols-1 gap-12 md:grid-cols-2 xl:grid-cols-3 justify-items-center"
      >
        {allCruises.map((d) => <ProductCard {...d} />)}
      </div>
    </div>
  </section>
</Layout>
