---
import Icon from "astro-iconify";
---

<a
  href="https://www.instagram.com"
  class="bg-rose-500 transition-all duration-300 ease-in-out hover:bg-red-800"
>
  <Icon name="mdi:instagram" size="32px" class="inline p" />
  Instagram
</a>
