---
import Icon from "astro-iconify";

interface Props {
  tel: string;
}

const { tel = "8091114466" } = Astro.props;
---

<a
  href="https://wa.me/${tel}"
  class="bg-green-500 p hover:bg-green-800 transition-all duration-300 ease-in-out"
>
  <Icon name="mdi:whatsapp" size="32px" class="inline" />
  WhatsApp
</a>
