---
import Icon from "astro-iconify";

import { info } from "@/data";
const {
  socials: { whatsapp },
} = info;
---

<a
  href={whatsapp}
  class="transition-all duration-300 ease-in-out bg-green-500 cursor-pointer p hover:bg-green-800 hover:scale-95"
>
  <Icon name="mdi:whatsapp" size="32px" class="inline" />
  WhatsApp
</a>
