---
import ProductCard from "@/components/products/ProductCard.astro";
import Layout from "@/layouts/Layout.astro";
import { getAllHotels } from "@/utils/sanity";
const allHotels = await getAllHotels();
---

<Layout
  title="Ofertas"
  description="Descubre las mejores ofertas en viajes personalizados y paquetes todo incluido desde Santo Domingo. Descubre el Caribe con nosotros."
  keywords={["hoteles"]}
>
  <section id="ofertas" class="w-full pt-[150px] pb-10 text-black">
    <div class="container flex flex-col items-center justify-center">
      <p class="mb-2 p">Todos los</p>
      <h1 class="mb-10 h1">Hoteles</h1>
      <div
        class="grid w-full grid-cols-1 gap-12 md:grid-cols-2 xl:grid-cols-3 justify-items-center"
      >
        {allHotels.map((d) => <ProductCard {...d} />)}
      </div>
    </div>
  </section>
</Layout>
