---
import { info } from "@/data";
import { Icon } from "astro-iconify";
import SocialContainer from "../shared/SocialContainer.astro";
import WhatsApp from "../shared/socials/WhatsApp.astro";
import Instagram from "../shared/socials/Instagram.astro";
// import { beachBg } from "@/assets/videos";
const {
  address,
  email,
  tel,
  socials: { facebook, instagram, twitter },
} = info;
---

<footer
  id="footer"
  class="relative flex flex-col items-center justify-center w-full pt-20 pb-10"
>
  <div
    class="bg-[rgb(47,106,127)] w-full absolute top-0 bottom-0 mix-blend-hard-light z-[1]"
  >
  </div>

  <!-- <video
    src={beachBg}
    autoplay
    loop
    muted
    class="absolute top-0 bottom-0 object-cover w-full h-full"></video> -->

  <section
    class="container z-10 flex items-start justify-between w-full h-max gap-14"
  >
    <article class="min-w-[240px]">
      <h1 class="border h1">Logo</h1>
    </article>
    <article
      class="flex flex-col gap-4 [&>a:hover]:underline [&>a:hover]:text-orange-500 [&>a]:font-medium [&>a]:py-3 transition-all duration-300 ease-in-out"
    >
      <h3 class="h3">Menu</h3>
      <a href="#" class="p">Inicio</a>
      <a href="#" class="p">Resorts</a>
      <a href="#" class="p">Hoteles</a>
      <a href="#" class="p">Resorts</a>
    </article>

    <article class="flex flex-col gap-4">
      <h3 class="h3">Informacion</h3>
      <SocialContainer class:list={"flex-col items-start justify-start  "}>
        <WhatsApp tel={tel} />
        <Instagram />
      </SocialContainer>
      <a
        href="https://maps.app.goo.gl/AtMQtG4RMEiahtGi6"
        target="_blank "
        rel="noopener noreferrer"
        class="flex items-start justify-center p hover:underline gap-x-2"
      >
        <Icon name="mdi:location" size="32px" class="inline" />{address}
      </a>
    </article>
  </section>
  <p class="mt-10 p opacity-80">
    Better Travel ©{new Date().getFullYear()} | Desarrollado por <a
      href="painkillerdev.vercel.app"
      target="_blank"
      rel="noopener noreferrer"
      class="underline hover:no-underline hover:text-slate-600">PainDev</a
    >
  </p>
</footer>
