---
import { info } from "@/data";
import { Icon } from "astro-iconify";
import SocialContainer from "../shared/SocialContainer.astro";
import WhatsApp from "../shared/socials/WhatsApp.astro";
import Instagram from "../shared/socials/Instagram.astro";
// import { beachBg } from "@/assets/videos";
const {
  address,
  email,
  tel,
  socials: { facebook, instagram, twitter, whatsapp },
} = info;

import logo from "@/assets/logo.png";
import Address from "../shared/socials/Address.astro";
import Email from "../shared/socials/Email.astro";
import Telephone from "../shared/socials/Telephone.astro";
---

<footer
  id="footer"
  class="relative flex flex-col items-center justify-center w-full pt-32 pb-20"
>
  <div
    class="bg-[rgb(47,106,127)] w-full absolute top-0 bottom-0 mix-blend-hard-light z-[1]"
  >
  </div>

  <!-- <video
    src={beachBg}
    autoplay
    loop
    muted
    class="absolute top-0 bottom-0 object-cover w-full h-full"></video> -->

  <section
    class="container z-10 flex flex-wrap items-start justify-center w-full lg:items-start lg:justify-between h-max gap-x-12 gap-y-4 lg:gap-14 md:gap-x-20"
  >
    <article
      class="md:mt-5 lg:mt-0 min-w-[240px] min-h-max order-1 lg:order-[0]"
    >
      <img
        src={logo.src}
        alt="Better Travel Logo"
        class="w-full h-[150px] object-cover md:w-[400px] md:h-[200px]"
      />
    </article>
    <article
      class="flex flex-col gap-4 [&>a:hover]:underline [&>a:hover]:text-orange-500 [&>a]:font-medium [&>a]:py-3 transition-all duration-300 ease-in-out lg:min-w-[120px]"
    >
      <h3 class="h3">Menu</h3>
      <a href="#" class="p">Inicio</a>
      <a href="#" class="p">Resorts</a>
      <a href="#" class="p">Hoteles</a>
      <a href="#" class="p">Resorts</a>
    </article>

    <article
      class="flex flex-col items-start justify-center gap-4 lg:max-w-[40%] w-full flex-1"
    >
      <h3 class="h3">Informacion</h3>

      <WhatsApp class:list={" hover:bg-green-500 "} />
      <Instagram class:list={" hover:bg-rose-500 "} />
      <div
        class="flex flex-col items-start justify-center max-w-full gap-4 pl-4"
      >
        <Address />
        <Email />
        <Telephone />
      </div>
    </article>
    <article class="order-10 w-full text-center">
      <p class="inline-block mt-10 p opacity-80">
        Better Travel ©{new Date().getFullYear()} | Desarrollado por
      </p>
      <a
        href="https://painkillerdev.vercel.app"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-block underline hover:cursor-pointer hover:no-underline hover:text-slate-600"
        >PainDev</a
      >
    </article>
  </section>
</footer>
