---
// import { ButtonCTA } from "@/components";
// import { links } from "@/data";
// import Icon from "astro-iconify";
---

<nav
  class="w-full z-30 flex items-center py-4 justify-center bg-transparent fixed top-0 right-0 shadow-md transition-all duration-300 ease-in-out"
>
  <div class="container flex items-center justify-between">
    <h1 class="h2">Travel.</h1>
    <ul class="hidden lg:flex items-center h-full justify-center">
      <!-- {
        links.map((link) => (
          <li class="font-medium">
            <a href={link.path} class="px-5 py-5 hover:bg-sky-500 ">
              {link.text}
            </a>
          </li>
        ))
      } -->
      <div class="hidden md:block">
        <!-- <ButtonCTA
          class:list={`bg-gradient-to-r text-white from-blue-300 via-blue-500 to-blue-800 rounded-3xl`}
          >Contactanos</ButtonCTA
        > -->
      </div>
    </ul>
    <div id="menuBtn" class="z-50 pointer block lg:hidden">
      <!-- <Icon name="mage:dots-menu" size="48px" class="text-blue-500" /> -->
    </div>
  </div>
</nav>

<script>
  import { isMenuOpen } from "@/stores";
  const nav = document.querySelector("nav") as Element;
  const menuBtn = document.querySelector("#menuBtn") as HTMLButtonElement;
  menuBtn.addEventListener("click", () => {
    isMenuOpen.set(!isMenuOpen.value);
    isMenuOpen.subscribe((open) => {
      if (open) {
        nav.classList.remove("shadow-md");
      } else {
        nav.classList.add("shadow-md");
      }
    });
  });
</script>
