---
import { links } from "@/data";
import Icon from "astro-iconify";
import ButtonCTA from "../shared/ButtonCTA.astro";

// export const prerender = true;
---

<nav
  transition:persist
  class="fixed top-0 right-0 z-30 flex items-center justify-center w-full py-4 transition-all duration-300 ease-in-out bg-transparent shadow-md backdrop-blur-md"
>
  <div class="container flex items-center justify-between">
    <a href={`/`} class="h2">Travel.</a>
    <ul class="items-center justify-center hidden h-full md:flex">
      {
        links.map((link) => (
          <li class="font-medium">
            <a href={link.path} class="px-5 py-5 hover:bg-sky-500 ">
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
    <div class="hidden md:block">
      <ButtonCTA href="#" class:list={`text-black bg-white rounded-3xl`}
        >Contactanos</ButtonCTA
      >
    </div>
    <div id="menuBtn" class="z-50 block pointer lg:hidden">
      <Icon name="mage:dots-menu" size="48px" class="text-blue-500" />
    </div>
  </div>
</nav>

<script>
  import { isMenuOpen } from "@/stores";

  const nav = document.querySelector("nav") as Element;
  const menuBtn = document.querySelector("#menuBtn") as HTMLButtonElement;

  // Manejo y escucha de estados
  menuBtn.addEventListener("click", () => {
    isMenuOpen.set(!isMenuOpen.value);
    isMenuOpen.subscribe((open) => {
      if (open) {
        nav.classList.remove("shadow-md");
      } else {
        nav.classList.add("shadow-md");
      }
    });
  });
</script>
