---
import { getOffers } from "@/utils/sanity";
import FlyerCard from "../products/FlyerCard.astro";

const flyers = await getOffers();
console.log("🚀 ~ flyers:", flyers);
---

<section id="ofertas" class="w-full py-16 text-black">
  <div class="container flex flex-col items-center justify-center">
    <p class="mb-2 p">Descubre las mejores</p>
    <h2 class="mb-10 h2">Ofertas</h2>
    <div
      class="grid w-full grid-cols-1 gap-12 md:grid-cols-2 xl:grid-cols-3 justify-items-center"
    >
      {flyers.map((d) => <FlyerCard {...d} />)}
    </div>
  </div>
</section>
