---
import ButtonCTA from "@/components/shared/ButtonCTA.astro";
import { links } from "@/data";
import Icon from "astro-iconify";
---

<div
  transition:persist
  id="sideMenu"
  class="fixed top-[2000px] z-[100] h-full w-full text-black opacity-0 transition-all duration-300 ease-in-out"
>
  <div id="sideMenuBg" class="w-full h-full">
    <div
      class="relative mx-auto flex h-[60%] w-[320px] flex-col items-center justify-center rounded-2xl bg-white shadow-2xl"
    >
      <Icon
        id="closeBtn"
        name="ic:baseline-close"
        size="42px"
        class="absolute right-[20px] top-[20px] p-2 bg-red-400 rounded-full text-white"
      />
      <ul>
        {
          links.slice(0, 6).map((link) => (
            <li class="font-medium">
              <a
                href={link.path}
                class="px-5 min-w-[100px] text-center py-3 block hover:bg-sky-500 "
              >
                {link.text}
              </a>
            </li>
          ))
        }
      </ul>
      <div class="mt-3 min-w-[150px]">
        <ButtonCTA
          href="/blog"
          class={`  text-white  w-full block bg-sky-500 hover:bg-sky-800`}
          >Blog</ButtonCTA
        >
      </div>
      <div id="btnCta" class="my-2 min-w-[150px]">
        <ButtonCTA
          href="#footer"
          class={` text-white block w-full bg-orange-500 hover:bg-orange-800`}
          >Contactanos</ButtonCTA
        >
      </div>
    </div>
  </div>
</div>

<script>
  import { isMenuOpen } from "@/stores";

  const sideMenu = document.querySelector("#sideMenu") as Element;
  const closeBtn = document.querySelector("#closeBtn") as Element;
  const btnCta = document.querySelector("#btnCta") as Element;

  // Al cargar la pagina, quita el menu
  document.addEventListener("astro:page-load", () => isMenuOpen.set(false));

  // Escucha y manejo de estado
  isMenuOpen.subscribe((open) => {
    if (open) {
      sideMenu.classList.remove("top-[2000px]", "opacity-0");
      sideMenu.classList.add("top-[100px]");
    } else {
      sideMenu.classList.add("top-[2000px]", "opacity-1");
      sideMenu.classList.remove("top-[100px]");
    }
  });

  // Cerrar a la X
  closeBtn.addEventListener("click", () => isMenuOpen.set(!isMenuOpen.value));

  btnCta.addEventListener("click", () => isMenuOpen.set(!isMenuOpen.value));
</script>
