---
import ProductCard from "@/components/products/ProductCard.astro";
import Layout from "@/layouts/Layout.astro";
import { getAllPackages } from "@/utils/sanity";
const allPackages = await getAllPackages();
---

<Layout
  title="Paquetes Internacionales | Viajes Todo Incluido"
  description="Explora nuestros paquetes internacionales desde Santo Domingo. Viajes todo incluido a Europa, America y el Caribe. Ofertas irresistibles. ¡Reserva tu aventura ahora!"
  keywords={["paquetes internacionales"]}
>
  <section id="ofertas" class="w-full pt-[150px] pb-10 text-black">
    <div class="container flex flex-col items-center justify-center">
      <p class="mb-2 p">Nuestros</p>
      <h1 class="mb-10 h2 text-center">Paquetes Internacionales</h1>
      <div
        class="grid w-full grid-cols-1 gap-12 md:grid-cols-2 xl:grid-cols-3 justify-items-center"
      >
        {allPackages.map((d) => <ProductCard {...d} />)}
      </div>
    </div>
  </section>
</Layout>
