---
import { Hero, ShowResort, Footer } from "@/components/sections";
import Layout from "../layouts/Layout.astro";
import EmailReservation from "@/components/emails/EmailReservation";

//* Borrar cookies
// const cookies = Astro.cookies;
// const reservationCookie = cookies.delete("reservation");
---

<Layout
  title="Agencia de viajes"
  description="Reservas de hoteles, resorts o vuelos"
>
  <!-- <section class="flex gap-8 flex-col items-center justify-center">
    <button id="submit" class="px-5 mt-20 py2 bg-green-500 text-white font-bold"
      >Send Email</button
    >
    <EmailReservation client:load />
  </section> -->
  <Hero />
  <ShowResort />
  <Footer />
</Layout>
