---
import ProductCard from "@/components/products/ProductCard.astro";

import type Destination from "@/inferfaces/Destination";
import Layout from "@/layouts/Layout.astro";
import { loadQuery } from "@/lib/loadQuery";

const destinations = await loadQuery<Destination[]>({
  query: `*[_type == "destination"]
  {name,
  "slug": slug.current,
  "country": country->name,
  price,
  description,
  "imgSrc": image.asset->url
  }
  `,
});
const { data } = destinations;

export const prerender = true;
---

<Layout title="Todos los destinos">
  <section id="content" class="w-full py-10 mb-10 text-black">
    <div class="container mt-[60px] flex flex-col justify-center items-center">
      <h2 class="h2 mb-10">Todos los destinos</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {data.map((d) => <ProductCard {...d} />)}
      </div>
    </div>
  </section>
</Layout>
