---
import ProductCard from "@/components/products/ProductCard.astro";
import Layout from "@/layouts/Layout.astro";
import { getAllResorts } from "@/utils/sanity";
const allResorts = await getAllResorts();
---

<Layout
  title="Resorts Todo Incluido | Ofertas Exclusivas"
  description="Disfruta de descuentos únicos en estancias prolongadas, promociones de temporada, y paquetes todo incluido que combinan alojamiento de lujo, experiencias gastronómicas, y actividades emocionantes. Ya sea que estés planeando una escapada romántica, unas vacaciones familiares, o un retiro relajante, nuestras ofertas están diseñadas para brindarte el máximo valor."
  keywords={["resorts"]}
>
  <section id="resorts" class="w-full pt-[150px] pb-10 text-black">
    <div class="container flex flex-col items-center justify-center">
      <p class="mb-2 p">Nuestros</p>
      <h1 class="mb-10 h1">Resorts</h1>
      <div
        class="grid w-full grid-cols-1 gap-12 md:grid-cols-2 xl:grid-cols-3 justify-items-center"
      >
        {allResorts.map((d) => <ProductCard {...d} />)}
      </div>
    </div>
  </section>
</Layout>
